<html>
<head><title>register</title>
<link rel="stylesheet" href={{url_for('static',filename="style2.css")}}/>
</head>
<body><div class="form">
<h1>Register</h1>
<div class="wrapper">
<form  action='' method='post' autocomplete="off">
<div class="input-flex"><label class="form-label" for="name">Name</lable>
<input class="form-input" type="text" name="name" id="name" required/></div>
<div class="input-flex"><label class="form-label" for="contact">Contact</lable>
<input class="form-input" type="integer" name="Contact" id="contact" required/></div>
<div class="input-flex"><label class="form-label" for="address">Address</lable>
<input class="form-input" type="text" name="address" id="address" required/></div>
<div class="input-flex"><label class="form-label" for="amount">Amount</lable>
<input class="form-input" type="integer" name="amount" id="amount" required/></div>
<input class="btn" type="submit" value="Register"/></form>
</div></div>
</body>
</html>