<html>
<head><title>update</title>
</head>
<body>
<form  action='' method='post'>
<label>name</lable>
<input type="text" name="name" value={{data.Name}} required><br><br>
<label name="contact">contact</label>
<input type="integer" name="Contact" value={{data.Contact}} required><br><br>
<label>address</lable>
<input type="text" name="address" value={{data.Address}} required><br><br>
<label name="amount">amount</lable>
<input type="integer" name="amount" value={{data.Amount}} required><br><br>
<input type="submit" value="update"></form>
</body>
</html>